.DS_Store

__pycache__/

/.vscode/

# Python virtual environment.
/.venv/

# Ignore files created by setup.py.
build/
dist/
MANIFEST
*.egg-info
*.egg
distribute*.tar.gz

# Tox files
.tox/

# ignore Coverage.py files
.coverage.*
htmlcov/

